@model IEnumerable<ProjetoSaude.Domain.DTO.PacienteDTO>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoSanguineo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.limitacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alergia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pessoaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoSanguineo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.limitacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alergia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pessoaId)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>